@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --primaryColor: #201e1e;
  --bgColor: #f0f0f0;
  --leftSideBorder: #d4d3d5;

  --textEditorColor: #424242;
  --textEditorHoverColor: #fff;
  --textEditorHoverBg: #007cd2;

  --headerBorderColor: #d4d3d5;

  --tabBarBgColor: #e4e5e5;
  --tabBarBorderColor: #d4d3d5;
  --tabBarActiveBorderColor: #007cd2;
  --tabBarActiveTextColor: #fff;
  --tabBarActiveBgColor: #007cd2;

  --themePrimaryColor: #007cd2;
  --themeButtonPrimaryColor: #0076cb;
  --themeButtonSecondaryColor: #033151c5;
}

.theme-dark {
  --primaryColor: #ffffff;
  --bgColor: #0c2235;
  --leftSideBorder: #143d4f;

  --textEditorColor: #c4dbf2;
  --textEditorHoverColor: #4a83a0;
  --textEditorHoverBg: #0e293f;

  --headerBorderColor: #625c5c;

  --tabBarBgColor: #020e1b;
  --tabBarBorderColor: #625c5c;
  --tabBarActiveBorderColor: #369fd5;
  --tabBarActiveTextColor: #ffffff;
  --tabBarActiveBgColor: #153855;

  --themePrimaryColor: #369fd5;
  --themeButtonPrimaryColor: #1e648a;
  --themeButtonSecondaryColor: #3a3c41;
}
